  html {
    /*background-color: #d3d3d3;*/

  }

  body {
    background-color: #f6f6f6;
    color: #2a2a2a;
    font-family: Gill Sans, sans-serif;
    font-size: 14pt;
  }



/*Header styles*/

  #header-container {
    /*width: 100%;*/
    padding: 15px 75px 10px;
    margin-bottom: 50px;
    background-color: #3f3f3f;
    color: #f6f6f6;
    overflow: hidden;

  }

  #page-title {
    float: left;
    font-family: Georgia, serif;
    font-size: 18pt;
    font-style: italic;
  } 

  #submit-link {
    float: right;
    font-family: Gill Sans, sans-serif;
    font-size: 12pt;
    padding-top: 3pt;
  }

  a {
    color: #f6f6f6;
    text-decoration: none;
  }


  a:hover {
    color: #4472B9;
    text-decoration: underline;
    cursor: pointer;
  }

/*Body styles*/

  #main {
    /*width: 100%;*/
  }

  #content {
    width: 60%;
    max-width: 500px;
    min-height: 250px;
    margin: 0 auto;
  }

/*  #button-container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }*/
   
  .wordBlock  {
    text-align: center;
    font-size: 14pt;
    font-family: Gill Sans, sans-serif;
  }


  .wordTitle {
    font-weight: bold;
    font-size: 24pt;
    font-family: Georgia, serif;
    margin: 20px 0;
  }

  .partofspeech {
    font-family: Gill Sans, sans-serif;
    font-style: italic;
    font-weight: normal;
  }

  .text-chunk  {
    margin-bottom: 20pt;
    line-height: 150%;
  }

  .label {
    font-weight: bold;
    /*margin-bottom: 6pt;*/
  }

  .example {
    font-style: italic;
  }

  button {
    display: block;
    width: 250px;
    padding: 10px;
    background-color: #4472B9;
    color: #f6f6f6 ;
    font-family: Gill Sans, sans-serif;
    font-size: 18px;
    text-align: center;
    border: none;
    margin: 0 auto;
  }

  button:hover {
    background-color: #29446F;
    text-decoration: underline;
    cursor: pointer;
  }


  #footer-container {
   padding: 25px 75px;
  }

  #copyright {
    float: right;
    font-size: 12pt;
  }


  @media (max-width: 500px) {

#main {
  width: 80%;
  margin: 0 auto;
}  

#header-container {
    /*width: 100%;*/
    padding: 15px 0 5px 0;
  }

  #page-title, #submit-link {
/*    float: none;*/
    clear: both;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  #submit-link {
    padding: 6pt 0;
  }

  #content {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    margin: 0 auto;
  }

  
  button {
    width: 100%;
  }
  }